.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.section {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 96px 0px;
}
.section > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 72px);
  height: calc(100% + 72px);
}
.section > :global(.__wab_flex-container) > *,
.section > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section > :global(.__wab_flex-container) > picture > img,
.section
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 72px;
}
.freeBox__tpAu {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 16px;
}
.freeBox__tpAu > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__tpAu > :global(.__wab_flex-container) > *,
.freeBox__tpAu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tpAu > :global(.__wab_flex-container) > picture > img,
.freeBox__tpAu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tpAu {
    display: flex;
    flex-direction: column;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tpAu > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tpAu > :global(.__wab_flex-container) > *,
  .freeBox__tpAu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__tpAu > :global(.__wab_flex-container) > picture > img,
  .freeBox__tpAu
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.img__ozVW {
  object-fit: cover;
  max-width: 100%;
  border-radius: 200px;
}
.img__ozVW > picture > img {
  object-fit: cover;
}
.img__ozVW > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__pbrfl {
  flex-direction: column;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__pbrfl > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__pbrfl > :global(.__wab_flex-container) > *,
.freeBox__pbrfl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pbrfl > :global(.__wab_flex-container) > picture > img,
.freeBox__pbrfl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pbrfl > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
  }
}
.h1 {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    text-align: center;
  }
}
.freeBox___961JE {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px 8px 8px 0px;
}
.freeBox___961JE > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox___961JE > :global(.__wab_flex-container) > *,
.freeBox___961JE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___961JE > :global(.__wab_flex-container) > picture > img,
.freeBox___961JE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.text___6MkIa {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__e2Btb {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__e2Btb > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__e2Btb > :global(.__wab_flex-container) > *,
.freeBox__e2Btb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__e2Btb > :global(.__wab_flex-container) > picture > img,
.freeBox__e2Btb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__e2Btb > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__e2Btb > :global(.__wab_flex-container) > *,
  .freeBox__e2Btb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__e2Btb > :global(.__wab_flex-container) > picture > img,
  .freeBox__e2Btb
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 12px;
  }
}
.freeBox__pFtU {
  flex-direction: row;
  display: flex;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #f3f3f4;
  border-radius: 24px;
  padding: 8px 12px;
}
.freeBox__pFtU > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__pFtU > :global(.__wab_flex-container) > *,
.freeBox__pFtU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pFtU > :global(.__wab_flex-container) > picture > img,
.freeBox__pFtU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.text__ohlz {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 0.5rem;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ohlz {
    width: auto;
    white-space: pre;
  }
}
.freeBox__vfW2 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #f3f3f4;
  border-radius: 24px;
  padding: 8px 12px;
}
.freeBox__vfW2 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__vfW2 > :global(.__wab_flex-container) > *,
.freeBox__vfW2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vfW2 > :global(.__wab_flex-container) > picture > img,
.freeBox__vfW2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.text__ul9Dc {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 0.5rem;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ul9Dc {
    white-space: pre;
  }
}
.freeBox__uh7NU {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #f3f3f4;
  border-radius: 24px;
  padding: 8px 12px;
}
.freeBox__uh7NU > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__uh7NU > :global(.__wab_flex-container) > *,
.freeBox__uh7NU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uh7NU > :global(.__wab_flex-container) > picture > img,
.freeBox__uh7NU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.text__knZn3 {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 0.5rem;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__knZn3 {
    white-space: pre;
  }
}
.freeBox__jFh7 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #f3f3f4;
  border-radius: 24px;
  padding: 8px 12px;
}
.freeBox__jFh7 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__jFh7 > :global(.__wab_flex-container) > *,
.freeBox__jFh7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jFh7 > :global(.__wab_flex-container) > picture > img,
.freeBox__jFh7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.text___4Pgwg {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 0.5rem;
  min-width: 0;
}
.freeBox__nnCT {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #f3f3f4;
  border-radius: 24px;
  padding: 8px 12px;
}
.freeBox__nnCT > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__nnCT > :global(.__wab_flex-container) > *,
.freeBox__nnCT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nnCT > :global(.__wab_flex-container) > picture > img,
.freeBox__nnCT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.text___9EY6 {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 0.5rem;
  min-width: 0;
}
.freeBox__tNmk4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 32px;
}
.freeBox__xwYdw {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 32px;
  grid-column-gap: 32px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xwYdw {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.freeBox__l2GZi {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__l2GZi > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__l2GZi > :global(.__wab_flex-container) > *,
.freeBox__l2GZi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__l2GZi > :global(.__wab_flex-container) > picture > img,
.freeBox__l2GZi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.cardPorto__a9WxC:global(.__wab_instance) {
  position: relative;
}
.img___4MFmT {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 12px;
}
.img___4MFmT > picture > img {
  object-fit: cover;
}
.img___4MFmT > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__wu7LZ {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__wu7LZ > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__wu7LZ > :global(.__wab_flex-container) > *,
.freeBox__wu7LZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wu7LZ > :global(.__wab_flex-container) > picture > img,
.freeBox__wu7LZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.cardPorto__hg8Kl:global(.__wab_instance) {
  position: relative;
}
.img__gi9P4 {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 12px;
}
.img__gi9P4 > picture > img {
  object-fit: cover;
}
.img__gi9P4 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox___2JjnS {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___2JjnS > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox___2JjnS > :global(.__wab_flex-container) > *,
.freeBox___2JjnS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2JjnS > :global(.__wab_flex-container) > picture > img,
.freeBox___2JjnS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.cardPorto__v8GLm:global(.__wab_instance) {
  position: relative;
}
.img___4Hdkv {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 12px;
}
.img___4Hdkv > picture > img {
  object-fit: cover;
}
.img___4Hdkv > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__gxZhN {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__gxZhN > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__gxZhN > :global(.__wab_flex-container) > *,
.freeBox__gxZhN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gxZhN > :global(.__wab_flex-container) > picture > img,
.freeBox__gxZhN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.cardPorto__z4Rz0:global(.__wab_instance) {
  position: relative;
}
.img__h9V6L {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 12px;
}
.img__h9V6L > picture > img {
  object-fit: cover;
}
.img__h9V6L > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__qAeoI {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__qAeoI > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__qAeoI > :global(.__wab_flex-container) > *,
.freeBox__qAeoI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qAeoI > :global(.__wab_flex-container) > picture > img,
.freeBox__qAeoI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.cardPorto__eyeP:global(.__wab_instance) {
  position: relative;
}
.img__k68R {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 12px;
}
.img__k68R > picture > img {
  object-fit: cover;
}
.img__k68R > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__peo0G {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__peo0G > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__peo0G > :global(.__wab_flex-container) > *,
.freeBox__peo0G > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__peo0G > :global(.__wab_flex-container) > picture > img,
.freeBox__peo0G
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.cardPorto___6QYjR:global(.__wab_instance) {
  position: relative;
}
.img__mmdar {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 12px;
}
.img__mmdar > picture > img {
  object-fit: cover;
}
.img__mmdar > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__mHfdP {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__mHfdP > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__mHfdP > :global(.__wab_flex-container) > *,
.freeBox__mHfdP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mHfdP > :global(.__wab_flex-container) > picture > img,
.freeBox__mHfdP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.cardPorto___4I1B4:global(.__wab_instance) {
  position: relative;
}
.img__x90Sk {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 12px;
}
.img__x90Sk > picture > img {
  object-fit: cover;
}
.img__x90Sk > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__p5MfZ {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__p5MfZ > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__p5MfZ > :global(.__wab_flex-container) > *,
.freeBox__p5MfZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__p5MfZ > :global(.__wab_flex-container) > picture > img,
.freeBox__p5MfZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.cardPorto__hj0Ux:global(.__wab_instance) {
  position: relative;
}
.img__mNz69 {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 12px;
}
.img__mNz69 > picture > img {
  object-fit: cover;
}
.img__mNz69 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__gcE2L {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__gcE2L > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__gcE2L > :global(.__wab_flex-container) > *,
.freeBox__gcE2L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gcE2L > :global(.__wab_flex-container) > picture > img,
.freeBox__gcE2L
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.cardPorto___3CEEq:global(.__wab_instance) {
  position: relative;
}
.img__axjcN {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 12px;
}
.img__axjcN > picture > img {
  object-fit: cover;
}
.img__axjcN > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__nXv6A {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__nXv6A > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__nXv6A > :global(.__wab_flex-container) > *,
.freeBox__nXv6A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nXv6A > :global(.__wab_flex-container) > picture > img,
.freeBox__nXv6A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.cardPorto__iIHoM:global(.__wab_instance) {
  position: relative;
}
.img__atFgP {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 12px;
}
.img__atFgP > picture > img {
  object-fit: cover;
}
.img__atFgP > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__vitNo {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__vitNo > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__vitNo > :global(.__wab_flex-container) > *,
.freeBox__vitNo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vitNo > :global(.__wab_flex-container) > picture > img,
.freeBox__vitNo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.cardPorto__sQlAa:global(.__wab_instance) {
  position: relative;
}
.img__zOJtQ {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 12px;
}
.img__zOJtQ > picture > img {
  object-fit: cover;
}
.img__zOJtQ > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__nyJwu {
  padding-bottom: 0px;
}
.freeBox__g2YaX {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__g2YaX > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__g2YaX > :global(.__wab_flex-container) > *,
.freeBox__g2YaX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__g2YaX > :global(.__wab_flex-container) > picture > img,
.freeBox__g2YaX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.cardPorto__hmV6Y:global(.__wab_instance) {
  position: relative;
}
.img__ukZsK {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 12px;
}
.img__ukZsK > picture > img {
  object-fit: cover;
}
.img__ukZsK > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__gXmEn {
  padding-bottom: 0px;
}
.freeBox___6N5BY {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___6N5BY > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox___6N5BY > :global(.__wab_flex-container) > *,
.freeBox___6N5BY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6N5BY > :global(.__wab_flex-container) > picture > img,
.freeBox___6N5BY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.cardPorto__uxfh5:global(.__wab_instance) {
  position: relative;
}
.img__a7BQ4 {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 12px;
}
.img__a7BQ4 > picture > img {
  object-fit: cover;
}
.img__a7BQ4 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__ddNg6 {
  padding-bottom: 0px;
}
.freeBox__errRg {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__errRg > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__errRg > :global(.__wab_flex-container) > *,
.freeBox__errRg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__errRg > :global(.__wab_flex-container) > picture > img,
.freeBox__errRg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.cardPorto___3Jb85:global(.__wab_instance) {
  position: relative;
}
.img__oiGdK {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 12px;
}
.img__oiGdK > picture > img {
  object-fit: cover;
}
.img__oiGdK > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__xwy0U {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__xwy0U > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__xwy0U > :global(.__wab_flex-container) > *,
.freeBox__xwy0U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xwy0U > :global(.__wab_flex-container) > picture > img,
.freeBox__xwy0U
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.cardPorto__p4E77:global(.__wab_instance) {
  position: relative;
}
.img__rWb1 {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 12px;
}
.img__rWb1 > picture > img {
  object-fit: cover;
}
.img__rWb1 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text___0CaQ5 {
  padding-bottom: 0px;
}
.freeBox___3G7Ht {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___3G7Ht > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox___3G7Ht > :global(.__wab_flex-container) > *,
.freeBox___3G7Ht > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3G7Ht > :global(.__wab_flex-container) > picture > img,
.freeBox___3G7Ht
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.cardPorto__l4WDu:global(.__wab_instance) {
  position: relative;
}
.img__jNnS3 {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 12px;
}
.img__jNnS3 > picture > img {
  object-fit: cover;
}
.img__jNnS3 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text___7VYrJ {
  padding-bottom: 0px;
}
.freeBox__sFmGj {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__sFmGj > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__sFmGj > :global(.__wab_flex-container) > *,
.freeBox__sFmGj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sFmGj > :global(.__wab_flex-container) > picture > img,
.freeBox__sFmGj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.cardPorto__uZhcn:global(.__wab_instance) {
  position: relative;
}
.img__sFzIy {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 12px;
}
.img__sFzIy > picture > img {
  object-fit: cover;
}
.img__sFzIy > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__jAcTu {
  padding-bottom: 0px;
}
.freeBox__fvJf0 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__fvJf0 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__fvJf0 > :global(.__wab_flex-container) > *,
.freeBox__fvJf0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fvJf0 > :global(.__wab_flex-container) > picture > img,
.freeBox__fvJf0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.cardPorto__a8Xpe:global(.__wab_instance) {
  position: relative;
}
.img__jWr1G {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 12px;
}
.img__jWr1G > picture > img {
  object-fit: cover;
}
.img__jWr1G > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__b2R5 {
  padding-bottom: 0px;
}
